* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: whitesmoke;
  /* padding: 50px 50px; */
}

.header {
  /* border: solid black 1px; */
  background-color: indianred;
  color: whitesmoke;
  display: block;
  padding: 25px 25px;
  margin: 0 auto;
  width: 640px;
}

.js-error {
  font-weight: bold;
  color: red;
}


/* NEW BOOKMARK FORM */

.container {
  background-color: cornflowerblue;
  color: whitesmoke;
  /* border: solid black 1px; */
  padding: 25px 25px;
}

label[for=desc-bookmark-input], .desc-bookmark-input:enabled {
  display: block;
}

label[for=desc-bookmark-input] {
  margin-top: 15px;
}

.desc-bookmark-input:enabled {
  height: 100px;
  width: 640px;
  margin-bottom: 15px;
}

.js-new-bookmark button {
  background-color: indianred;
  color:whitesmoke;
}



/* INDIVIDUAL BOOKMARKS */

.before-bookmark-list {
  background-color: darkgrey;
  color: whitesmoke;
  padding: 25px 25px;
}

.bookmark-list {
  background-color: blanchedalmond;
  list-style-type: none;
  padding: 50px 50px;
}

.js-bookmark-item  {
background-color: whitesmoke;
color: rgb(87, 87, 87);
 /* border: solid black 1px; */
 padding: 15px 15px;
 margin: 15px 0px;
}

.js-bookmark-item h2 {
  text-transform: uppercase;
}

.js-bookmark-rating {
  width: 638px;
  margin-bottom: 25px;
}

.js-bookmark-rating legend {
  margin-bottom: 10px;
}

.js-bookmark-rating label {
  margin-right: 10px;
}

